*,
*::before,
*::after {
    box-sizing: border-box;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  width: 110px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px 16px 12px 12px;
  position: relative;
  background-color: #001964;
  border-radius: 999px;
  border: 2px solid transparent;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

.button-secondly {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  width: 110px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px 16px 12px 16px;
  position: relative;
  background-color: #FBFBFB;
  border-radius: 999px;
  border: 0.5px solid #000;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

.button .icon-search {
  position: relative;
  width: 24px;
  height: 24px;
}

.button .label {
  position: relative;
  width: fit-content;
  font-family: "BIZ UDPGothic";
  font-weight: 700; 
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.48px; 
  line-height: 16px;
  white-space: nowrap;
  font-style: "normal"; 
}

.button-secondly .label {
  position: relative;
  width: fit-content;
  font-family: "BIZ UDPGothic";
  font-weight: 700; 
  color: #1F1F1F;
  font-size: 16px;
  letter-spacing: 0.48px; 
  line-height: 16px;
  white-space: nowrap;
  font-style: "normal"; 
}

.button:not(:disabled):hover {
  opacity: 0.7;
  cursor: pointer;
}

.button:not(:disabled):active {
  opacity: 1.0;
  background-color: #001964;
}

.button-secondly:not(:disabled):hover {
  opacity: 0.7;
  cursor: pointer;
}

.button-secondly:not(:disabled):active {
  opacity: 1.0;
  background-color: #D9D9D9;
}


.button:disabled {
  cursor: not-allowed;
}

.icon-search {
  transform: scale(1.0);
}

/* ボタン配置 */
.button-group {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  gap: 10px;
  z-index: 100;
}