.side-menu-container {
  position: fixed;
  top: 104px;
  height: 952px;
  width: 243px;
  z-index: 0;
  display: inline-block;
}

.menu-background {
  background: #F0EBE3;
  position: absolute;
  left: 0;
  z-index: -1;
  width: 228px;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
}

.indicator_square {
  width: 18px;
  height: 44px;
  position: absolute;
  top: 470px;
  text-align: center;
  background: #F0EBE3;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  z-index: 4;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
}
.indicator {
  width: 3px;
  height: 15px;
  position: absolute;
  top: 470px;
  background-image: url('….svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  z-index: 5;
  transition: left 0.3s ease-in-out;
}

.menu {
  position: relative;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: all 0.3s ease-in-out;
  overflow: visible;
}

.menu-item {
  padding: 8px 12px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  max-width: none;
  cursor: pointer;
  color: #001964;
  text-decoration: none;
}

.menu-item:hover {
  background: #001964;
  color: #FFFFFF;
  text-decoration: none;
  width: 219px;
  text-decoration: none;
}

.menu-item.active {
  background: #001964;
  color: #FFFFFF;
  text-decoration: none;
  width: 219px;
  text-decoration: none;
}

.selected {
  background: #001964;
  color: #FFFFFF;
}
.unselected {
  color: #001964;
}
.hovered {
  background: #465285;
  color: #FFFFFF;
}
.icon-container {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 24px;
  height: 24px;
  background-image: url('../images/new_blue.png');
  }
.menu-item:hover .icon {
  width: 24px;
  height: 24px;
}
.menu-item.active .icon {
  width: 24px;
  height: 24px;
  background-image: url('../images/person_white.png');
}

.text {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "BIZ UDPGothic";
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.48px;
  white-space: nowrap;
}
.side-menu-container.closed .menu-item {
  width: 64px !important;
}
/* close 状態の場合は .text を非表示 */
.side-menu-container.closed .text {
  display: none !important;
}