{% extends "layout.html" %}

{% block title %}住民票記載事項証明書・住民票{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/textbox.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/selectbox.css') }}" />
{% endblock %}

{% block content %}
  <!-- 上部情報 -->
    <div class="content-title" style="font-weight: normal;">
        退職者一覧 ＞ <strong>退職者情報詳細</strong>
    </div>
    <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; font-weight: 700; margin-right: 15px;">ステータス</div>
        <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; font-weight: 700; color: #000000;">承認済</div>
    </div>
    <div style="display: flex; top: 15px; position: relative;">
        <div>
            <div class="name-title">
                基本情報
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">氏名</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">山田　太郎</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">フリガナ</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">ヤマダ　タロウ</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">生年月日</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">1980/10/10</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">社員番号</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">JP0000000</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">所属部署</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">第一営業部</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">雇用形態</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">正社員</div>
            </div>
        </div>
        <div>
            <div class="name-title">
                連絡・住所情報
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">住所（都道府県）</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">東京都</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">住所（市区町村）</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">中央区</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">住所（番地以下）</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">八重洲2-2-3　ドミトリートーキョー505</div>
            </div>
            <div class="name-title bottom">スケジュール</div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">退職年月日</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">2025/10/30</div>
            </div>
            <div style="margin-bottom: 20px;">
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #999999; margin-bottom: 5px;">業務最終日</div>
                <div style="font-family: 'BIZ UDPGothic'; font-size: 16px; color: #000000;">2025/10/1</div>
            </div>
        </div>
    </div>
    <div class="button-group" style="left: 20px;">
        <button class="button-secondly" style="width: 150px;">
            <div class="label">＜ 退職者一覧</div>
        </button>
    </div>

    <div class="button-group">
        <button class="button-secondly">
            <div class="label">差戻</div>
        </button>
        <a href="/view_page">
            <button class="button">
            <div class="label">承認</div>
            </button>
        </a>
    </div>

<!-- <a class="button-group" href="/new_employee_aplication_status/updated">
    <button class="button" style="width: 150px;">
        <div class="label">確認・保存</div>
    </button>
</a> -->
<!-- <div style="display: flex;"> -->
    <!-- <div style="width: 50%;"> -->
        <!-- <div class="container" data-プロパティ1="enabled">
            <div class="label">基礎年金番号</div>
            <div class="input-wrapper">
                <input type="text" class="text-input" value="入力してください。" oninput="toggleClearButton(this)">
                <img class="icon-clear" src="/static/image/help.svg" style="visibility: hidden;">
            </div>
            <div class="description">入力項目に関するテキストがここに入ります。</div>
        </div> -->
    <!-- </div> -->
    <!-- <div style="width: 50%;">
        <div class="container" data-プロパティ1="enabled">
            <div class="label">基礎年金番号</div>
            <div class="input-wrapper">
                <input type="text" class="text-input" value="入力してください。" oninput="toggleClearButton(this)">
                <img class="icon-clear" src="/static/image/help.svg" style="visibility: hidden;">
            </div>
            <div class="description">入力項目に関するテキストがここに入ります。</div>
        </div>
    </div> -->
<!-- </div> -->

{% endblock %}
